*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.colors-theme {
  --type1-bg: #8E44AD;;
  --type2-bg: #2980B9;
  --type3-bg: #E74C3C;
  --type4-bg: #2ECC71;
  --type5-bg: #900C3E;
  --type6-bg: #FFC300;
  --type7-bg: #4F820D;
  --type8-bg: #eeb0bb;
  --type9-bg: #CE7600;
  --type10-bg: #90F7EF;
  --type11-bg: #113251;
  --type12-bg: #434644;
}
.numbers-theme {
  --type1-bg: url('img/1.png');
  --type2-bg: url('img/2.png');
  --type3-bg: url('img/3.png');
  --type4-bg: url('img/4.png');
  --type5-bg: url('img/5.png');
  --type6-bg: url('img/6.png');
  --type7-bg: url('img/7.png');
  --type8-bg: url('img/8.png');
  --type9-bg: url('img/9.png');
  --type10-bg: url('img/10.png');
  --type11-bg: url('img/11.png');
  --type12-bg: url('img/12.png');
}

body{
  background: pink;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
/* Header */
.game-info-bar{
  background: #FFC300;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
}

.cards-container{
  background: white;
  width: fit-content;
  display: grid;
  gap: 15px;
  padding: 15px;
  margin: auto;
}
.cards-container-easy{
  grid-template-columns: repeat(4 , 1fr); 
}
.cards-container-medium{
  grid-template-columns: repeat(6 , 1fr); 
}
.cards-container-hard{
  grid-template-columns: repeat(8 , 1fr); 
}
.hidden-mode{
  visibility: hidden; 
}
.unclickable-mode { /* When add this class to a container, all child's become unclickable */
  pointer-events: none; 
}

.card{
  width: 125px;
  height: 175px;
  border: 1px solid black;
}
.card-pattern{
  width: 100%;
  height: 100%;
}
.card-pattern-type1{
  background: var(--type1-bg);
}
.card-pattern-type2{
  background: var(--type2-bg);
}
.card-pattern-type3{
  background: var(--type3-bg);
}
.card-pattern-type4{
  background: var(--type4-bg);
}
.card-pattern-type5{
  background: var(--type5-bg);
}
.card-pattern-type6{
  background: var(--type6-bg);
}
.card-pattern-type7{
  background: var(--type7-bg);
}
.card-pattern-type8{
  background: var(--type8-bg);
}
.card-pattern-type9{
  background: var(--type9-bg);
}
.card-pattern-type10{
  background: var(--type10-bg);
}
.card-pattern-type11{
  background: var(--type11-bg);
}
.card-pattern-type12{
  background: var(--type12-bg);
}
.card-cover{
  background: black;
}

/* Popups */
.modal{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none; /* hide overlay and behave like it's not exist*/
  opacity: 0;
  /* transition: opacity 0.5s;  */
  height: 100vh;
  width: 100vw;
}
.modal-open{
  pointer-events: all;
  opacity: 1;
}
.start-play-popup{
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  /* transform: translateY(-100vh);
  transition: all 0.5s; */
  display: grid;
  color: black;
  margin: 3rem;
}

